.header {
    font-family: "manrope";
    font-weight: 800;
    color: var(--White);
    margin-bottom: 24px;
}

.secondary {
    font-size: 1.6rem;

    @media screen and (min-width: 775px) {
        font-size: 2.13rem;
    }
}
.third {
    font-size: 1.2rem;
    margin-bottom: 11px;
    @media screen and (min-width: 775px) {
        margin-bottom: 24px;
    }
}
.dark {
    color: var(--Dark);
}
